registry=https://nexus.datassist.com.tr/repository/npm-group/
//nexus.datassist.com.tr/repository/npm-group/:username=admin
//nexus.datassist.com.tr/repository/npm-group/:_password=QWhiYWV2ZWljdTNjb299dg==
always-auth=true
